.react-parallax .first-screen-image {
    height: 1000px !important;
    
}
.react-parallax::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .75);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}